h1 { font-size: 30pt;
    color: blue;
}
#float li {
    background: linear-gradient(#687587, #404853);
    float: left;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

#float li a {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-variant: small-caps;
    text-decoration: none;
    padding: 10px 15px;
}

#float li a:hover {
  background: #454d59;
  color: #d0d2d5;
}

.bagian1 {padding: 50px;
width: 30%;
color: aqua;
margin-top : 80px;
background: orchid;
}
.bagian2 {padding: 50px;
    width: 30%;
    color: aqua;
    margin: 0px;
    background: orchid;
    }
.bagian3 {padding: 50px;
width: 30%;
color: aqua;
margin: 0px;
background: rgb(37, 99, 29);
}